<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="UA">
<head>
  <title>Edit Note</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-3">
  <h1 th:text="${note.id != null ? 'Edit Note' : 'Create Note'}"></h1>
  <form method="post" th:action="@{/note/edit}" th:object="${note}">
    <input th:field="*{id}" type="hidden"/>
    <div class="mb-3">
      <label class="form-label" for="title">Title</label>
      <input class="form-control" id="title" placeholder="Title" th:field="*{title}" type="text">
    </div>
    <div class="mb-3">
      <label class="form-label" for="content">Content</label>
      <textarea class="form-control" id="content" placeholder="Content" rows="3"
                th:field="*{content}"></textarea>
    </div>
    <button class="btn btn-primary" type="submit">Save</button>
  </form>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
