<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Note</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-3">
  <h1>Edit Note</h1>
  <form th:action="@{/note/edit}" th:object="${note}" method="post">
    <div class="mb-3">
      <label for="noteTitle" class="form-label">Title</label>
      <input type="text" class="form-control" id="noteTitle" th:field="*{title}"
             placeholder="Enter title">
    </div>
    <div class="mb-3">
      <label for="noteContent" class="form-label">Content</label>
      <textarea class="form-control" id="noteContent" th:field="*{content}" rows="3"
                placeholder="Enter content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
  </form>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
